/* Outer div set */
.signal-box {
  height: 200px;
  width: 70px;
  border: 2px solid black;
  margin: 50px auto; /* center on page */
  background-color: #fff5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
}

/* Common styles for outer divs */
.circle {
  height: 50px;
  width: 50px;
  border: 2px solid black;
  border-radius: 50%; /* make it circular */
  margin: 10px;
}

/* Individual Colors */
.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
