* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    margin: 0 auto;
    /* margin-top: px; */
    width: 1400px;
    height: 600px;
    border: 5px solid red;
    background-color: azure;
}

.child {
    background-color: blue;
    border: 5px solid black;
    /* 50% of Parent width 600px */
    width: 60%;
    /* 840px */
    height: 80%;
    /* 480 px */
}

.sub-child {
    background-color: rgb(255, 0, 93);
    border: 5px solid rgb(94, 255, 0);
    /* 50% of Parent width 600px */
    width: 50%;
    /* 420px */
    height: 80%;
    /* 384px */
}