*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.parent01 {
    width: 95%;
    height: 100vh;
    border: 2px solid red;
    background-color: azure;
    margin-top: 10px;
}
.child01 {
    width: 50%;
    height: 20%;
    border: 2px solid blue;
    background-color: aqua;
}
.child02 {
    width: 50%;
    height: 20%;
    border: 2px solid red;
    margin-top: 5px;
    background-color: blueviolet;
}